.subdivision-list {
    width: 100%;
}

.subdivision {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #4e7eb2;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.subdivision-code,
.subdivision-name {
    flex: 1;
}

.positions {
    padding: 10px;
    background-color: #f1f1f1;
}

.position {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.position-name,
.collaborator-fullname {
    flex: 1;
}

.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status-indicator.red {
    background-color: red;
}

.status-indicator.green {
    background-color: green;
}

.arrow {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
